{{#partial "content"}}
    <div class="mask rgba-black-light align-items-center">
        <div class="container">
    <h1>SQUADS</h1>
    <p>Welcome to Hero app</P>
    <p>where you get to create your favorite hero squads and assign them with super powers of your choice</p>
    {{#if heroes}}
        {{#each heroes}}
            <p><a href=""></a></p>
            <button  class="btn btn-primary mb-2">{{ name }} <a href="/hero/{{id}}">read more...</a></button>
        {{/each}}
        {{else}}
        <p>no heroes yet!!!</p>
    {{/if}}

    {{#if squads}}
        {{#each squads}}
            <button  class="btn btn-primary mb-2">{{ name }} <a href="/squad/{{id}}">read more...</a></button>

        {{/each}}
    {{else}}
        <p>no squad yet!!!!</p>
    {{/if}}
    </div>
    </div>

{{/partial}}
{{> layout.hbs}}